IETF RFC 2046: Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types

### Formal name
IETF RFC 2046: Multipurpose Internet Mail Extensions (MIME) Part Two: Media Types

### Overview
STD 11, [RFC 822](https://www.rfc-editor.org/rfc/rfc822) defines a message representation protocol specifying    considerable detail about US-ASCII message headers, but which leaves    the message content, or message body, as flat US-ASCII text. This set of documents, collectively called the Multipurpose Internet Mail    Extensions, or MIME, redefines the format of messages to allow for - 
    (1)   textual message bodies in character sets other than US-ASCII,
    (2)   an extensible set of different formats for non-textual message bodies,
    (3)   multi-part message bodies, and
    (4)   textual header information in character sets other than US-ASCII.

### Work Plan
There is no work plan.
 
### Updates
There are no updates.

### Alerts
There are no open alerts. 

### References
- https://www.rfc-editor.org/rfc/rfc2046.html
- RFC 1738 is referenced at [TS 2 - Specification of systems enabling the notification and subsequent publication of Provider information ](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/23)