IETF RFC 8943 - Concise Binary Object Representation (CBOR) Tags for Date

### Formal name
RFC 8943 - Concise Binary Object Representation (CBOR) Tags for Date, M. Jones et al., November 2020 

### Overview
The Concise Binary Object Representation (CBOR), as specified in RFC 7049, is a data format whose design goals include the possibility of extremely small code size, fairly small message size, and extensibility without the need for version negotiation.

In CBOR, one point of extensibility is the definition of CBOR tags. RFC 7049 defines two tags for time: CBOR tag 0 (date/time string as per RFC 3339) and tag 1 (POSIX "seconds since the epoch"). This specification defines a CBOR tag for a date text string (as per RFC 3339) for applications needing a textual date representation within the Gregorian calendar without a time. It also defines a CBOR tag for days since the date 1970-01-01 in the Gregorian calendar for applications needing a numeric date representation without a time.

See the PID Rulebook which is an annex to the ARF - https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/annexes/annex-3/annex-3.01-pid-rulebook.md#42-encoding-of-pid-attributes-and-metadata

### Work Plan
The EC will pass this technical specification through the MSP process.

### Tasks

- [ ] The EC will prepare the necessary documentation for review under the MSP process.

### Alerts
No alerts.

### References

- https://www.rfc-editor.org/rfc/rfc8943