IETF RFC 8610 - Concise Data Definition Language (CDDL)

### Formal name
RFC 8610 - Concise Data Definition Language (CDDL): A Notational Convention to Express Concise Binary Object Representation (CBOR) and JSON Data Structures, H. Birkholz et al., June 2019 

### Overview
This document proposes a notational convention to express Concise Binary Object Representation (CBOR) data structures (RFC 7049).  Its main goal is to provide an easy and unambiguous way to express structures for protocol messages and data formats that use CBOR or JSON.

Note: RFC 8610 has been updated by RFC 9682 - Updates to the Concise Data Definition Language (CDDL) Grammar. RFC 8610 is still active.

### Work Plan
The EC will pass this technical specification through the MSP process.

### Tasks
- [ ] The EC will prepare the necessary documentation for review under the MSP process.

### Alerts
There are no open alerts.

### References
* RFC 8610: https://www.rfc-editor.org/rfc/rfc8610.html
* RFC 9682: https://www.rfc-editor.org/rfc/rfc9682.pdf