IETF RFC 9052 - CBOR Object Signing and Encryption (COSE): Structures and Process

### Formal name
IETF RFC 9052 - CBOR Object Signing and Encryption (COSE): Structures and Process

### Overview
Concise Binary Object Representation (CBOR) is a data format designed for small code size and small message size. There is a need to be able to define basic security services for this data format. This document defines the CBOR Object Signing and Encryption (COSE) protocol. This specification describes how to create and process signatures, message authentication codes, and encryption using CBOR for serialization. This specification additionally describes how to represent cryptographic keys using CBOR.

This document, along with RFC 9053, obsoletes RFC 8152.

### Work Plan
There is no work plan.

### Updates
There are no new updates.
 
### Alerts
There are no open alerts. 

### References
- https://www.rfc-editor.org/rfc/rfc9052

@cyberphone - Thank you for your comment. 

Strong Customer Authentication (SCA) for payments with the Wallet is currently being discussed with the Member States, and the outcomes of these discussions are documented under [Discussion Topic W](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/discussion-topics/w-transactional-data-for-payments-and-other-use-cases.md), [Discussion topic AA](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/discussion-topics/aa-support-of-electronic-payments-SCA-with-wallet.md), and [Technical Specification 12](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/blob/main/docs/technical-specifications/ts12-electronic-payments-SCA-implementation-with-wallet.md)