ETSI EN 319 412-5 V2.5.1 (2025-06) - Electronic Signatures and Infrastructures (ESI); Certificate Profiles; Part 5: QC Statements

### Formal name
ETSI EN 319 412-5 V2.5.1 (2025-06) - Electronic Signatures and Infrastructures (ESI); Certificate Profiles; Part 5: QC Statements

### Overview
The present document defines specific QCStatement for the qcStatements extension as defined in IETF RFC 3739, clause 3.2.6, including requirements for their use in EU qualified certificates. Some of these QCStatements can be used for other forms of certificate. 
The QCStatements defined in the present document can be used in combination with any certificate profile, either defined in ETSI [EN 319 412-2](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/145#issue-2621962172), [ETSI EN 319 412-3](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/159) and [ETSI EN 319 412-4](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/178), or defined elsewhere. 
The QCStatements defined in clause 4.3 can be applied to regulatory environments outside the EU. Other requirements specified in clause 4 are specific to [Regulation (EU) No 910/2014](https://eur-lex.europa.eu/eli/reg/2014/910/oj/eng) but may be adapted for other regulatory environments. 

### Work Plan
- The EC has conducted an assessment on the previous version - whether the standard covers all the topics and points outlined in Article 28(6), 38(6), 42, 45, specifically regarding requirements on qualified certificate supporting PUB EAA qualified signature/ seal.
- ETSI decided not to update this standard according to the updated requirements of the Regulation and the ARF, but rather  to include the requirements by updating https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/421- Certificate Profiles and for Public Sector Issuing Authority signing certificates, that will include the content that was planned for ETSI EN 319 412-5 V2.5.1 (2025-06).
- For status - see https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=72210&curItemNr=14&totalNrItems=33&optDisplay=100000&titleType=all&qSORT=REFNB&qETSI_ALL=&SearchPage=TRUE&qTB_ID=607%3BESI&qINCLUDE_SUB_TB=True&qINCLUDE_MOVED_ON=&qEND_CURRENT_STATUS_CODE=11+WI%3BM58&qSTOP_FLG=N&qKEYWORD_BOOLEAN=OR&qCLUSTER_BOOLEAN=OR&qFREQUENCIES_BOOLEAN=OR&qSTOPPING_OUTDATED=&butExpertSearch=Search&includeNonActiveTB=FALSE&includeSubProjectCode=FALSE&qREPORT_TYPE=SUMMARY

### Tasks
- [x] As explained above in the overview, since ETSI will update the necessary content in [TS 119 412-6 ](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/421)- Certificate Profiles and for Public Sector Issuing Authority signing certificates, the EC will not  follow up with ETSI on ETSI EN 319 412-5 V2.5.1 (2025-06) but rather on [TS 119 412-6 ](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/421)- Certificate Profiles and for Public Sector Issuing Authority signing certificates, that will include the content that was planned for this standard.  

### Updates
- **2025-09-29**: This standard was referenced in CIR (EU) 2025/1943, both in Annex I and in Annex II - with adaptations. 
- 2025-06-20: Version 2.5.1 was published on 2025-06-20. 

### Alerts
There are no open alerts.

### References
- ETSI TS 319 412-5: https://www.etsi.org/deliver/etsi_en/319400_319499/31941205/02.05.01_60/en_31941205v020501p.pdf
- For follow up: See ETSI TS 119 412-6: https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/421