Misalignment of specs with respect to `dNSName` in WRPAC

## 1. The Overarching Risk

There is an interoperability risk due to the missing alignment of the different relevant specs for the authentication and subsequent authorization of the `AuthorizationRequest` according to [[OID4VP](https://openid.net/specs/openid-4-verifiable-presentations-1_0.html)], as profiled in [[HAIP](https://openid.net/specs/openid4vc-high-assurance-interoperability-profile-1_0-03.html)], and in particular the necessary `dNSName` inside the Wallet-Relying Party Access Certificate (WRPAC), which is **not** yet sufficiently considered in [[ETSI TS 119 411-8](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=74431)], [[ETSI TS 119 475](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=69585)] and [[TS5](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/blob/main/docs/technical-specifications/ts5-common-formats-and-api-for-rp-registration-information.md)] and possibly further specifications related to the Wallet-Relying Party Registration Certificate (WRPRC), which do not even seem to be part of the standardisation roadmap of ETSI ESI. 

The present problem has been briefly mentioned in [[TS8](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/blob/main/docs/technical-specifications/ts8-common-interface-for-reporting-of-wrp-to-dpa.md)] within the `Open Issue 1`. 

The gap in the standardisation roadmap of ETSI ESI related to the WRPRC policy is mentioned in a separate ticket [#409](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/409).

## 2. Background on the `dNSName` in WRPAC 

### 2.1 ARF is refering to HAIP, which profiles OID4VP 

As [[OID4VP, Section 5.9.3](https://openid.net/specs/openid-4-verifiable-presentations-1_0.html#section-5.9.3)] specifies a large variety of different *client identifier schemes*, [[ARF, Section 5.6.1.3]](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md#5613-attestation-presentation-using-openid4vp) makes clear that it is necessary to apply the [HAIP](https://openid.net/specs/openid4vc-high-assurance-interoperability-profile-1_0-03.html) profile here: 

>"Since [OpenID4VP] contains a number of options, the use of the profile for 'OpenID for Verifiable Presentations for IETF SD-JWT VC' specified in [HAIP] is necessary to ensure interoperability between Wallet Units and Relying Parties."

[[HAIP, Section 5)](https://openid.net/specs/openid4vc-high-assurance-interoperability-profile-1_0-03.html#section-5)] specifies the following:

>"The Client Identifier Scheme as introduced in Section 5.10 of [OIDF.OID4VP] MUST be either `x509_san_dns` or `verifier_attestation`. 
The Wallet MUST support both. The Verifier MUST support at least one."

While it is clear, that the reference to Section 5.10 of [OIDF.OID4VP] is outdated, it is unfortunately **not** clear, whether the `verifier_attestation` option really makes sense here (anymore) and how this would exactly relate to the WRPAC and WRPRC, if it is existing.

This question is handled in a separate ticket [#410](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/410).

### 2.2 OID4VP requires `dNSName` within the WRPAC

The `x509_san_dns` option is specified in [[OID4VP, Section 5.9.3](https://openid.net/specs/openid-4-verifiable-presentations-1_0.html#section-5.9.3)] and requires that the WRPAC contains a `dNSName` within the "Subject Alternative Name" (SAN) certificate extension according to [[RFC 5280, Section 4.2.1.6](https://datatracker.ietf.org/doc/html/rfc5280#autoid-38)]:

>"When the Client Identifier Prefix is `x509_san_dns`, the original Client Identifier (the part after the `x509_san_dns:` prefix) MUST be a DNS name and match a `dNSName` Subject Alternative Name (SAN) [RFC5280] entry in the leaf certificate passed with the request. The request MUST be signed with the private key corresponding to the public key in the leaf X.509 certificate of the certificate chain added to the request in the x5c JOSE header [RFC7515] of the signed request object."

## 3. The Problem

The problem behind the risk is the currently missing alignment in the ETSI TSs and our TS5 to appropriately reflect the need for the `dNSName` in the WRPAC, which originated in [[OID4VP, Section 5.9.3](https://openid.net/specs/openid-4-verifiable-presentations-1_0.html#section-5.9.3)] and [[HAIP, Section 5)](https://openid.net/specs/openid4vc-high-assurance-interoperability-profile-1_0-03.html#section-5)].

### 3.1 ETSI TS 119 411-8 does not (yet) reflect `dNSName` requirement

Unfortunately, this requirement that the WRPAC shall contain a `dNSName` in the SAN extension has **not** yet been reflected in the latest version of [[ETSI TS 119 411-8](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=74431)]. [[ETSI TS 119 411-8, Section 5.4.2](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=74431)], which would be a suitable place to address this topic only refers to the more general norm [[ETSI EN 319 411-1, Section 5.4.2](https://www.etsi.org/deliver/etsi_en/319400_319499/31941101/01.05.01_60/en_31941101v010501p.pdf)], which, of course, does not deal with such application-specific details.

### 3.2 ETSI TS 119 475 mentions `URL`, but no related processes

In a similar manner, the fact that there needs to be a `dNSName` in the SAN extension of the WRPAC is **not** mentioned in the latest "official draft" [[ETSI TS 119 475 (V0.0.6)](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=69585)] available in the [ETSI portal](https://portal.etsi.org/). However, there is now a `URL` mentioned in the recently circulated "inofficial intermediate draft" [[ETSI TS 119 475 (V0.0.7c), Table 3](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=69585)] with a reference to [[(EU) 2025/848, Annex 1]()], which seems to be the required input for the `dNSName`  in the SAN extension of the WRPAC. Unfortunately there are no stipulations with respect to the necessary validation procedures for the `URL`, which will become the `dNSName`, as this may rather be within the scope of [[ETSI TS 119 411-8](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=74431)] and/or a related policy for the Wallet-Relying Party Registration Certificate (WRPRC), which does not seem to be addressed by ETSI ESI at all. 

### 3.3 TS5 does not specify, which element is the desired `URL` for `dNSName` 

In a similar manner [[TS5](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/blob/main/docs/technical-specifications/ts5-common-formats-and-api-for-rp-registration-information.md)] currently does not clearly specify, which of the available elements in fact is the desired `URL` mentioned in [[(EU) 2025/848, Annex 1, Nr. 5](http://data.europa.eu/eli/reg_impl/2025/848/oj)], 
which will become the `dNSName`. 

It would either be possible to specify that the `infoURI` element from the `LegalEntity` class is the `URL`, which will be inserted into the `dNSName` within the SAN extension of the WRPAC, or one would need to add a new element `dNSName` to the `WalletRelyingParty` class.

## 4. The Solution

The suggested approach for solving this problem is to organise a dedicated meeting with Michal, Inigo and Harri in their role as authors of [[ETSI TS 119 475](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=69585)], [[ETSI TS 119 411-8](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=74431)] and [[TS5](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/blob/main/docs/technical-specifications/ts5-common-formats-and-api-for-rp-registration-information.md)] to discuss how to improve the alignment of the three closely related specifications.

## References


| **Label**                                                                                                                                                                                                    | **Reference**                                                                                                                                                                                                                               |
|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| [[(EU) 2025/848](http://data.europa.eu/eli/reg_impl/2025/848/oj)]                                                                                                                                            | Commission Implementing Regulation (EU) 2025/848 of 6 May 2025 laying down rules for the application of Regulation (EU) No 910/2014 of the European Parliament and of the Council as regards the registration of wallet-relying parties     |
| [[ARF]](https://github.com/eu-digital-identity-wallet/eudi-doc-architecture-and-reference-framework/blob/main/docs/architecture-and-reference-framework-main.md)                                             | European Commission: *European Digital Identity Wallet - Architecture and Reference Framework*, Version 2.2.0                                                                                                                               |
| [[ETSI EN 319 411-1](https://www.etsi.org/deliver/etsi_en/319400_319499/31941101/01.05.01_60/en_31941101v010501p.pdf)]                                                                                       | ETSI: *Electronic Signatures and Trust Infrastructures (ESI); Policy and security requirements for Trust Service Providers issuing certificates; Part 1: General requirements*, Version 1.5.1, 2025-04                                      |
| [[ETSI TS 119 411-8](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=74431)]                                                                                                           | ETSI: *Electronic Signatures and Trust Infrastructures (ESI); Policy and security requirements for Trust Service Providers issuing certificates; Part 8: Access Certificate Policy for EUDI Wallet Relying Parties*, Version 0.0.5, 2025-06 |
| [[ETSI TS 119 475](https://portal.etsi.org/webapp/WorkProgram/Report_WorkItem.asp?WKI_ID=69585)]                                                                                                             | ETSI: *Electronic Signatures and Trust Infrastructures (ESI); Relying party attributes supporting EUDI Wallet user's authorisation decisions*, Version 0.0.7c, 2025-06                                                                      | 
| [[HAIP](https://openid.net/specs/openid4vc-high-assurance-interoperability-profile-1_0-03.html#section-5)]                                                                                                   | K. Yasuda, T. Lodderstedt: *OpenID4VC High Assurance Interoperability Profile - draft 03*, 7 February 2025                                                                                                                                  | |
| [[ISO/IEC 18013-5](https://www.iso.org/standard/69084.html)]                                                                                                                                                 | ISO/IEC 18013-5:2021: *Personal identification — ISO-compliant driving licence Part 5: Mobile driving licence (mDL) application*, International Standard                                                                                    | [COMMISSION IMPLEMENTING DECISION (EU) 2015/1505](https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32015D1505) of 8 September 2015 laying down technical specifications and formats relating to trusted lists pursuant to Article 22(5) of Regulation (EU) No 910/2014 of the European Parliament and of the Council on electronic identification and trust services for electronic transactions in the internal market. |
| [[OID4VP](https://openid.net/specs/openid-4-verifiable-presentations-1_0.html)]                                                                                                                              | O. Terbu, T. Lodderstedt, K. Yasuda, T. Looker: *OpenID for Verifiable Presentations - draft 29*, 10 June 2025                                                                                                                              |
| [[TS5](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/blob/main/docs/technical-specifications/ts5-common-formats-and-api-for-rp-registration-information.md)] | European Commission: *Specification of common formats and API for Relying Party Registration information*, Version 1.0, 13.06.2025                                                                                                          |
| [[TS8](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/blob/main/docs/technical-specifications/ts8-common-interface-for-reporting-of-wrp-to-dpa.md)]           | European Commission: *Specification of Common Interface for reporting of Relying Parties to Data Protection Authorities*, Version 0.9, 22.06.2025                                                                                           |



Hi @detlefhuehnlein : Thanks for this very nice overview. We definitely have some alignment work to do.

Zooming out a bit: when thinking about Relying Party identifiers in access certificates, we have (at least?) three sources of requirements: the ARF, OpenID4VP, and ISO/IEC 18013-5. We must ensure that the certificate profile we come up with complies with all three simultaneously, otherwise we either don't comply with the established high-level requirements, or one or both of the protocols will not work. 

So, analysing these documents regarding these identifiers:
- Regarding the ARF: 
  - HLR Reg_32 states that the access certificate must contain a EU-wide unique identifier for the Relying Party. The note to Reg_32 says that _this unique identifier could, for example, be a composition of a unique identifier of the Registrar, defined in the policy, and a unique identifier for the Relying Party allocated by this Registrar._ 
  - HLR RPRC_03b similarly states that the registration certificate also contains an EU-wide unique identifier. And the note to that HLR says _The EU-wide unique identifier could, for example, be a concatenated list of one or more registered official Relying Party identifiers listed in Annex I(3) of the [CIR 2025/848](https://data.europa.eu/eli/reg_impl/2025/848/oj) regarding registration of Wallet Relying Parties, expressed in the semantic form defined in [ETSI EN 319 412-1] sections 5.1.4 or 5.1.5. The exact specification is left for the technical specifications to be developed by the European Commission._ 
  - Interestingly, there appears to be no requirement that the identifier in the access certificate and the registration certificate of the same Relying Party must be identical. But this is clearly an omission, because RPIC_07a says "...the Wallet Unit SHALL verify that the name and the unique identifier of the intermediary, as included in the registration certificate of the intermediated Relying Party, are identical to the name and unique identifier in the access certificate."
- Regarding OpenID4VP: you have summarized it better than I could. There needs to be SAN in the access certificate, and this must contain a URL. Importantly, this SAN must match the FQDN of the redirect_uri (unless the DC API is used).
-  Regarding ISO/IEC 18013-5: the requirements in Annex B.1.7 for the mdoc reader authentication certificate (their name for the access cert) are very minimal. It only says there must be a commonName. 

So to my mind, preferably we should comply with the requirements of OpenID4VP (i.e., presence of a SAN in the access cert), and in addition specify a EU-specific Relying Party Identifier, perhaps in the commonName or in another extension. In remote use cases, the SAN is used as specified by OpenID4VP. In proximity use cases, the SAN is simply ignored. In both proximity and remote use cases, the EU-specific identifier is used to comply with the relevant requirements in the ARF. To me, that seems the simplest solution.

Yes, we should stick with the stipulations in OID4VP (and HAIP), which require the `dNSName` in the SAN, and "only make sure" that all the other emerging ETSI ESI documents and our TS5 fit to this "fix point". 

And, yes, ISO/IEC 18013-5 for proximity is more relaxed and does not impose any problems here. 

The "EU-specific Relying Party Identifier" is fortunately already defined in [[ETSI EN 319 412-1, Section 5](https://www.etsi.org/deliver/etsi_en/319400_319499/31941201/01.06.01_60/en_31941201v010601p.pdf)], called "Semantic Identifier", and there is a simple [CR7](https://docbox.etsi.org/ESI/ESI/05-CONTRIBUTIONS/2025/ESI(25)000189_CR7_on_412-1_-_Adding_new_legal_person_identifiers.docx) (see attachment) for ETSI EN 319 412-1 on its way to add the missing identifiers. Hence, we only need to verify the details and look into the "corner cases", e.g. PubEAAs, which usually do not have an EUID, but for which a specific certificate extension is about to be created in [CR5](https://docbox.etsi.org/ESI/ESI/05-CONTRIBUTIONS/2024/ESI(24)000059r3_CR5_on_412-5_-_PSB_certificate_extension_to_412-5_to_support.docx) for [[ETSI TS 119 412-5](https://www.etsi.org/deliver/etsi_en/319400_319499/31941205/02.05.01_60/en_31941205v020501p.pdf)] (see attachment). 

[ESI(25)000189_CR7_on_412-1_-_Adding_new_legal_person_identifiers (3).docx](https://github.com/user-attachments/files/21041000/ESI.25.000189_CR7_on_412-1_-_Adding_new_legal_person_identifiers.3.docx)

[ESI(24)000059r3_CR5_on_412-5_-_PSB_certificate_extension_to_412-5_to_support (1).docx](https://github.com/user-attachments/files/21041100/ESI.24.000059r3_CR5_on_412-5_-_PSB_certificate_extension_to_412-5_to_support.1.docx)


@detlefhuehnlein - thank you for this analysis. Could to discuss it with @david-bakker and then reach a conclusion how we should act in this case, for example - initiating a discussion with SDO(s), and how would you specify this engagement. 

cc: @pinamiranda @david-bakker @phin10 @HarriHonko 