W3C Data Integrity ECDSA Cryptosuites v1.0: Achieving Data Integrity using ECDSA with NIST-compliant curves, W3C recommendation, 15 May 2025

### Formal name
W3C Data Integrity ECDSA Cryptosuites v1.0: Achieving Data Integrity using ECDSA with NIST-compliant curves, W3C recommendation, 15 May 2025

### Overview
This specification defines a cryptographic suite for the purpose of creating, and verifying proofs for ECDSA signatures in conformance with the Data Integrity [VC-DATA-INTEGRITY](https://github.com/eu-digital-identity-wallet/eudi-doc-standards-and-technical-specifications/issues/390) specification. ECDSA signatures are specified in FIPS-186-5 with elliptic curves P-256 and P-384 specified in NIST-SP-800-186. FIPS-186-5 includes the deterministic ECDSA algorithm which is also specified in RFC 6979.

This specification uses either the RDF Dataset Canonicalization Algorithm or the JSON Canonicalization Scheme (RFC 8785) to transform the input document into its canonical form. It uses one of two mechanisms to digest and sign: SHA-256 (RFC 6234) as the message digest algorithm and ECDSA with Curve P-256 as the signature algorithm, or SHA-384 (RFC 6234) as the message digest algorithm and ECDSA with Curve P-384 as the signature algorithm.

### Work Plan
- The EC is following with W3C on this technical specification. 
- The EC will assess this TS in a timeline that will be decided. Accordingly, the ticket has both labels - 'sts: needs review' and 'sts: needs follow up'. 
 
### Updates
- **2025-05-15**: W3C published the technical specification. 

### Alerts
There are no open alerts.

### References
- https://www.w3.org/TR/vc-di-ecdsa/